.home-page h1,
.home-page h2 {
  text-align: center;
}
.home-page .heading-collapse-indicator {
  display: none;
}
.home-page .callout[data-callout*=table] {
  border: none;
  background-color: transparent;
  margin: 0px;
}
.home-page .callout[data-callout*=table] > .callout-title {
  display: none;
}
.home-page .callout[data-callout*=table] > .callout-content {
  display: grid;
  gap: 10px;
  padding: 0px;
}
.home-page .callout[data-callout*=table] > .callout-content .callout[data-callout=column] {
  border: none;
  background-color: transparent;
  margin: 0px;
}
.home-page .callout[data-callout*=table] > .callout-content .callout[data-callout=column] > .callout-title {
  background-color: transparent;
  padding: 0px;
  text-align: center;
}
.home-page .callout[data-callout*=table] > .callout-content .callout[data-callout=column] > .callout-title > .callout-icon {
  display: none;
}
.home-page .callout[data-callout*=table] > .callout-content .callout[data-callout=column] > .callout-content {
  padding: 0px;
  border: none;
  text-align: center;
}
.home-page .callout[data-callout*=table] > .callout-content .callout[data-callout=column] > .callout-content .dataview.list-view-ul {
  padding: 0px;
  margin: 0px;
}
.home-page .callout[data-callout*=table] > .callout-content .callout[data-callout=column] > .callout-content .dataview.list-view-ul li::marker {
  display: none;
}
.home-page .callout[data-callout*="-4"] > .callout-content {
  grid-template-columns: repeat(4, 1fr);
}
.home-page .callout[data-callout*="-3"] > .callout-content {
  grid-template-columns: repeat(3, 1fr);
}
.home-page .callout[data-callout*="-2"] > .callout-content {
  grid-template-columns: repeat(2, 1fr);
}
